.collapse-static {
     text-align: center;
     padding: 8px;
     background: #333333;
     border-radius: 3px;
     color: #fff;
}

.collapse-static p {
     color: #fff;
     font-weight: 700;
}

.collapse-static .dashicons {
     margin-top: 6px;
     float: right;
     margin-right: 6px;
}

.wp-block-clb-custom-blocks-collapse-selected .collapse-title-input {
     margin-bottom: 20px;
}
